node_modules export-ignore
resources export-ignore
.github export-ignore
package-lock.json export-ignore
postcss.config.js export-ignore
safelist.txt export-ignore
tailwind.config.js export-ignore
.gitignore export-ignore
.npmrc export-ignore
package.json export-ignore
.gitattributes export-ignore
