@import "tailwindcss/base";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

body{
	@applt text-zinc-800;
}

/* fix wp .alignwide */

.alignwide {
	margin: 2rem auto;
	max-width: 1280px !important;
}

/* remove header title and hour */

.entry-header {
	@apply !hidden;
}

.header-spacer{
    @apply min-h-[30em];
    @apply h-screen;
}

.header-container{
	@apply select-none;
	@apply w-screen;
	@apply !absolute;
	@apply !inset-0;
    @apply h-screen;
    @apply min-h-[30em];
	@apply flex;

    @apply text-center;
    @apply items-center;
    @apply justify-center;
    @apply relative;
}

.header-image{
	@apply opacity-30;
	@apply mx-auto;
	@apply max-w-[90%];
}

.socials-slot{
	@apply !absolute;
	@apply !flex;
	@apply flex-row;
	@apply justify-end;

	@apply right-8;
	@apply bottom-5;
}

@screen lg {
	.title-xl{
		@apply !text-9xl;
	}
	.header-image{
		@apply h-[50em];
	}
	.socials-slot{
		@apply justify-end;
		@apply !flex-col;
	}
	.header-container{
		@apply min-h-[40em];
	}
	.section{
		@apply mb-0;
	}
}

.title-lg{
	@apply max-w-screen-xl;	
	@apply text-6xl;
	@apply !font-black;
	@apply mx-5;
}

.title-xl{
	@apply max-w-screen-2xl;	
	@apply text-zinc-600;
	@apply text-6xl;
	@apply !font-black;
	@apply mx-5;
}

.icon{
	@apply m-6;
	@apply cursor-pointer;
	@apply block;
	@apply text-zinc-400;
	@apply hover:text-zinc-500;
}

.section{
	@apply lg:min-h-screen;
	@apply flex;
	@apply flex-wrap;
	@apply mx-5;
	@apply mb-[10em];
	@apply justify-center;
	@apply items-center;
	@apply snap-center;
}

/* *{
	@apply !bg-sky-800/10;
} */

.vertical{
	@apply !flex-col;
}

.text{
	@apply text-2xl;
	@apply mx-5;
	@apply lg:my-0;
	@apply my-[1em];
}

.box{
	@apply m-5;
	@apply lg:w-[40%];
}