@import "tailwindcss/base";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

body{
	@apply text-zinc-800;
	/* @apply !bg-zinc-100; */
}

/* make h-scren work on phone  */
.min-h-screen{
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
}

.h-screen {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

/* fix wp .alignwide */

.alignwide {
	margin: 2rem auto;
	max-width: 1280px !important;
}

/* remove header title and hour */

.entry-header {
	@apply !hidden;
}

.header-spacer{
    @apply h-screen;
}

.header-container{
	@apply select-none;
	@apply w-screen;
	@apply !absolute;
	@apply !inset-0;
    @apply h-screen;
	@apply flex;

    @apply text-center;
    @apply items-center;
    @apply justify-center;
    @apply relative;
}

.header-image{
	@apply opacity-30;
	@apply mx-auto;
	@apply max-w-[90%];
}

.header-title{
	@apply max-w-screen-2xl;	
	@apply text-zinc-600;
	@apply text-6xl;
	@apply !font-black;
	@apply mx-5;
}

.socials-slot{
	@apply !absolute;
	@apply !flex;
	@apply flex-row;
	@apply justify-end;

	@apply bottom-[5em];
	@apply right-[5%];
	@apply space-x-[30%];
}

@screen md {
	.maps{
		@apply !h-[30em];
	}
}
@screen lg {
	.header-title{
		@apply !text-9xl;
	}
	.header-image{
		@apply h-[50em];
	}
	.socials-slot{
		@apply justify-end;
		@apply !flex-col;
		@apply !space-x-0;
		@apply !space-y-12;
		@apply !right-12;
		@apply !bottom-12;

	}
	.header-container{
		@apply min-h-[30em];
	}
	.header-spacer{
		@apply min-h-[30em];
	}
	.section{
		@apply mb-0;
	}
	.horizontal{
		@apply !flex-row;
	}
	.half{
		@apply w-[44%];
		@apply mx-[2%];
	}
}

.title-lg{
	@apply max-w-screen-xl;	
	@apply text-6xl;
	@apply !font-black;
	@apply m-5;
}

.title-xl{
	@apply max-w-screen-2xl;	
	@apply text-9xl;
	@apply !font-black;
	@apply m-5;
}

.icon{
	@apply cursor-pointer;
	@apply block;
	@apply text-zinc-400;
	@apply hover:text-zinc-500;
}

.short-section{
	@apply flex;
	@apply flex-wrap;
	@apply px-5;
	@apply -mx-5;
	@apply py-[2em];
	@apply mb-[5em];
	@apply justify-center;
	@apply items-center;
	@apply snap-center;
}

.section{
	@apply min-h-screen;
	@apply flex;
	@apply flex-wrap;
	@apply px-5;
	@apply -mx-5;
	@apply py-[4em];
	@apply mb-[10em];
	@apply justify-center;
	@apply items-center;
	@apply snap-center;
}

.vertical{
	@apply !flex-col;
}

.text{
	@apply text-2xl;
	@apply mx-5;
	@apply lg:my-0;
	@apply my-[2em];
}

.box{
	@apply m-5;
	@apply lg:w-[40%];
}

.dark{
	@apply !bg-zinc-900;
	@apply !text-zinc-200;
}

.darkish{
	@apply !bg-zinc-800;
	@apply !text-zinc-100;
}

.image-xl{
	@apply w-full;
	@apply max-w-6xl;
	@apply rounded-xl;
}


.maps{
	@apply w-full;
	@apply max-w-4xl;
	@apply rounded-xl;	
	@apply h-[20em];
}

.image-lg{
	@apply w-full;
	@apply max-w-4xl;
	@apply rounded-xl;	
}

.image-md{
	@apply w-full;
	@apply max-w-2xl;
	@apply rounded-xl;
}

.image-sm{
	@apply w-full;
	@apply max-w-xl;
	@apply rounded-xl;
}

.horizontal{
	@apply !flex-row;
}

.half{
	@apply flex;
	@apply flex-col;
	@apply items-center;
	@apply justify-center;
	@apply text-center;
	@apply rounded-xl;
	@apply bg-zinc-100;
	@apply p-[4em];
}

#content ul, #content ol{
	@apply ml-[2em];
} 

#content ul > li{
	@apply list-disc;
}

#content ol > li{
	@apply list-decimal;
}

#content a{
	@apply font-bold;
}