@import "tailwindcss/base";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";


.alignwide {
	margin: 2rem auto;
	max-width: 1280px !important;
}

.h-screen-header{

	/* retro-combability */
	height: 100vh;

	height: calc(100vh - 10em);
}
