@import "tailwindcss/base";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

.wp-block-gallery > .wp-block-image{
	@apply !overflow-hidden;
}


.wp-block-gallery > .wp-block-image > img{
	@apply !m-0;
	@apply !p-0;
}

.wp-block-gallery > .wp-block-image > .wp-element-caption{
	@apply !text-black;
	@apply border-t;
	@apply border-zinc-100;

	@apply !overflow-y-clip;

	@apply !text-lg;
	@apply rounded-b-xl;
	@apply !relative;
	@apply !bottom-0;
	@apply !m-0;
	@apply !p-4;
	flex-basis: auto !important;
	flex-grow: initial;
	background: white !important;
}

.wp-block-gallery > .wp-block-image{
	@apply rounded-xl;
	@apply border-2;
	@apply border-zinc-200;
}

section:only-child {
	max-width: 1000px;
}

html{
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body{
	@apply text-zinc-800;
}

/* fix wp .alignwide */

.alignwide {
	margin: 2rem auto;
	max-width: 1280px !important;
}

/* remove header title and hour */

.entry-header {
	@apply !hidden;
}

@layer utilities{
	
	.h-phone-screen{
		height: 100vh;
		height: calc(100vh - 10rem);
	}

} 

.header-spacer{
    @apply h-phone-screen;
}

.header-container{
	@apply select-none;
	@apply w-screen;
	@apply !absolute;
	@apply !inset-0;
    @apply h-phone-screen;
	@apply flex;

    @apply text-center;
    @apply items-center;
    @apply justify-center;
    @apply relative;
}

.header-image{
	@apply opacity-30;
	@apply mx-auto;
	@apply h-screen;
	@apply !max-w-none;
}

.header-title{
	@apply max-w-screen-xl;	
	@apply text-zinc-900;
	@apply opacity-70;
	@apply text-6xl;
	@apply !font-black;
	@apply mx-5;
}

.socials-slot{
	@apply inset-x-0;
	@apply !absolute;
	@apply !flex;
	@apply flex-row;
	@apply justify-end;

	@apply bottom-5;
	@apply right-[5%];
	@apply space-x-[7%];
}

@screen md {
	.maps{
		@apply !h-[30em];
	}
}
@screen lg {
	.header-title{
		@apply !text-9xl;
	}
	.header-image{
		@apply !h-fit;
		@apply w-full;
	}
	.socials-slot{
		@apply justify-end;
		@apply !flex-col;
		@apply !space-x-0;
		@apply !space-y-12;
		@apply !right-12;
		@apply !bottom-12;
		@apply !left-auto;	

	}
	.header-container{
		@apply !h-screen;
	}
	.header-spacer{
		@apply !h-screen;
	}
	.section{
		@apply mb-0;
	}
	.horizontal{
		@apply !flex-row;
	}
	.half{
		@apply w-[44%];
		@apply mx-[2%];
	}
	.vimeo{
		@apply h-[30rem];
	}
	.title-lg{
		@apply !text-6xl;
	}
	.title-xl{
		@apply !text-9xl;
	}

}

.title-lg {
	@apply max-w-screen-xl;	
	@apply text-4xl;
	@apply !font-black;
	@apply m-5;
	@apply !break-words;

}

.title-xl{
	@apply max-w-screen-2xl;	
	@apply text-6xl;
	@apply !font-black;
	@apply m-5;
	@apply !break-words;
}

.icon{
	@apply cursor-pointer;
	@apply block;
	@apply text-zinc-500;
	@apply hover:text-zinc-600;
}

.short-section{
	@apply flex;
	@apply flex-wrap;
	@apply px-5;
	@apply -mx-3;
	@apply py-[2em];
	@apply mb-[5em];
	@apply justify-center;
	@apply items-center;
	@apply snap-center;
}

.section{
	@apply min-h-screen;
	@apply flex;
	@apply flex-wrap;
	@apply px-5;
	@apply -mx-3;
	@apply py-[4em];
	@apply mb-[10em];
	@apply justify-center;
	@apply items-center;
	@apply snap-center;
}

.vertical{
	@apply !flex-col;
}

.text{
	@apply text-xl;
	@apply md:!text-2xl;
	@apply mx-5;
	@apply lg:my-0;
	@apply my-[2em];
}

.box{
	@apply m-5;
	@apply lg:w-[40%];
}

.dark{
	@apply !bg-zinc-900;
	@apply !text-zinc-200;
}

.darkish{
	@apply !bg-zinc-800;
	@apply !text-zinc-100;
}

.image-xl{
	@apply w-full;
	@apply max-w-6xl;
	@apply rounded-xl;
}


.maps{
	@apply w-full;
	@apply max-w-4xl;
	@apply rounded-xl;	
	@apply h-[20em];
}

.image-lg{
	@apply w-full;
	@apply max-w-4xl;
	@apply rounded-xl;	
}

.image-md{
	@apply w-full;
	@apply max-w-2xl;
	@apply rounded-xl;
}

.image-sm{
	@apply w-full;
	@apply max-w-xl;
	@apply rounded-xl;
}

.horizontal{
	@apply !flex-row;
}

.half{
	@apply flex;
	@apply flex-col;
	@apply items-center;
	@apply justify-center;
	@apply text-center;
	@apply rounded-xl;
	@apply bg-zinc-100;
	@apply p-[4em];
}

#content ul, #content ol{
	@apply ml-[2em];
} 

#content ul > li{
	@apply list-disc;
}

#content ol > li{
	@apply list-decimal;
}

#content a{
	@apply font-bold;
}

.cata{
	@apply !text-[#f79400];
}

.vimeo {
	@apply !w-full;
	@apply h-[15rem];

}

.wp-block-gallery{
	@apply container;
	@apply mx-auto;
	@apply px-4;
}

.wp-block-image{
	@apply rounded-xl;
}