.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.static {
  position: static
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-\[2\.5em\] {
  top: 2.5em
}

.z-40 {
  z-index: 40
}

.m-8 {
  margin: 2rem
}

.m-2 {
  margin: 0.5rem
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mb-6 {
  margin-bottom: 1.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-1 {
  margin-left: 0.25rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-12 {
  margin-bottom: 3rem
}

.-mr-4 {
  margin-right: -1rem
}

.mr-3 {
  margin-right: 0.75rem
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.h-1 {
  height: 0.25rem
}

.h-5 {
  height: 1.25rem
}

.h-6 {
  height: 1.5rem
}

.h-8 {
  height: 2rem
}

.min-h-screen {
  min-height: 100vh
}

.w-full {
  width: 100%
}

.w-16 {
  width: 4rem
}

.w-44 {
  width: 11rem
}

.w-5 {
  width: 1.25rem
}

.w-6 {
  width: 1.5rem
}

.w-\[90\%\] {
  width: 90%
}

.w-8 {
  width: 2rem
}

.max-w-sm {
  max-width: 24rem
}

.max-w-xs {
  max-width: 20rem
}

.shrink-0 {
  flex-shrink: 0
}

.flex-grow {
  flex-grow: 1
}

.cursor-pointer {
  cursor: pointer
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-8 {
  gap: 2rem
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.rounded {
  border-radius: 0.25rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.border {
  border-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-zinc-200 {
  --tw-border-opacity: 1;
  border-color: rgb(228 228 231 / var(--tw-border-opacity))
}

.border-zinc-600 {
  --tw-border-opacity: 1;
  border-color: rgb(82 82 91 / var(--tw-border-opacity))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-zinc-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 245 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-zinc-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity))
}

.bg-zinc-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity))
}

.bg-transparent {
  background-color: transparent
}

.p-4 {
  padding: 1rem
}

.p-2 {
  padding: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.pr-2 {
  padding-right: 0.5rem
}

.text-center {
  text-align: center
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.font-light {
  font-weight: 300
}

.font-bold {
  font-weight: 700
}

.font-extrabold {
  font-weight: 800
}

.font-normal {
  font-weight: 400
}

.font-medium {
  font-weight: 500
}

.font-black {
  font-weight: 900
}

.\!font-black {
  font-weight: 900 !important
}

.uppercase {
  text-transform: uppercase
}

.leading-tight {
  line-height: 1.25
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-zinc-600 {
  --tw-text-opacity: 1;
  color: rgb(82 82 91 / var(--tw-text-opacity))
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-zinc-500 {
  --tw-text-opacity: 1;
  color: rgb(113 113 122 / var(--tw-text-opacity))
}

.text-zinc-900 {
  --tw-text-opacity: 1;
  color: rgb(24 24 27 / var(--tw-text-opacity))
}

.text-neutral-800 {
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity))
}

.text-zinc-800 {
  --tw-text-opacity: 1;
  color: rgb(39 39 42 / var(--tw-text-opacity))
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.\!text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important
}

.no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none
}

.\!no-underline {
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-zinc-900 {
  --tw-shadow-color: #18181b;
  --tw-shadow: var(--tw-shadow-colored)
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.wp-block {
  max-width: 1280px
}

.wp-block[data-align=wide] {
  max-width: 1280px
}

.wp-block[data-align=full] {
  max-width: 100%
}

.hover\:bg-neutral-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity))
}

.hover\:bg-zinc-300:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 216 / var(--tw-bg-opacity))
}

.hover\:font-black:hover {
  font-weight: 900
}

.hover\:text-zinc-900:hover {
  --tw-text-opacity: 1;
  color: rgb(24 24 27 / var(--tw-text-opacity))
}

.hover\:text-black:hover {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:ring-neutral-200:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(229 229 229 / var(--tw-ring-opacity))
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-zinc-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(82 82 91 / var(--tw-bg-opacity))
  }

  .dark\:shadow-zinc-900 {
    --tw-shadow-color: #18181b;
    --tw-shadow: var(--tw-shadow-colored)
  }
}

@media (min-width: 640px) {
  .sm\:mx-auto {
    margin-left: auto;
    margin-right: auto
  }

  .sm\:mt-0 {
    margin-top: 0px
  }

  .sm\:flex {
    display: flex
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .sm\:items-center {
    align-items: center
  }

  .sm\:justify-center {
    justify-content: center
  }

  .sm\:justify-between {
    justify-content: space-between
  }

  .sm\:gap-6 {
    gap: 1.5rem
  }

  .sm\:p-6 {
    padding: 1.5rem
  }

  .sm\:text-center {
    text-align: center
  }
}

@media (min-width: 768px) {
  .md\:max-w-md {
    max-width: 28rem
  }
}

@media (min-width: 1024px) {
  .lg\:m-2 {
    margin: 0.5rem
  }

  .lg\:my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
  }

  .lg\:mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem
  }

  .lg\:mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem
  }

  .lg\:mb-0 {
    margin-bottom: 0px
  }

  .lg\:-mr-4 {
    margin-right: -1rem
  }

  .lg\:block {
    display: block
  }

  .lg\:flex {
    display: flex
  }

  .lg\:hidden {
    display: none
  }

  .lg\:w-1\/2 {
    width: 50%
  }

  .lg\:w-auto {
    width: auto
  }

  .lg\:flex-row {
    flex-direction: row
  }

  .lg\:items-center {
    align-items: center
  }

  .lg\:justify-between {
    justify-content: space-between
  }

  .lg\:border-0 {
    border-width: 0px
  }

  .lg\:border {
    border-width: 1px
  }

  .lg\:border-zinc-200 {
    --tw-border-opacity: 1;
    border-color: rgb(228 228 231 / var(--tw-border-opacity))
  }

  .lg\:bg-transparent {
    background-color: transparent
  }

  .lg\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1
  }

  .lg\:\!font-black {
    font-weight: 900 !important
  }

  .lg\:\!text-black {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important
  }

  .lg\:shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
  }

  .lg\:hover\:bg-transparent:hover {
    background-color: transparent
  }

  .lg\:hover\:text-black:hover {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
  }

  .lg\:hover\:underline:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline
  }
}