name: Add Bundle

on:
  push:
    tags:
      - '*'

jobs:
  
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: |
        npm ci
        npm run production
      name: Upload files
      - uses: AButler/upload-release-assets@v2.0
        with:
          files: 'assets/*'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

# jobs:
#   build:
#     name: Publish binaries
#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v2
#     - name: Build
#       run: |
#         npm ci
#         npm run production
#     - name: Upload binaries to release
#       uses: svenstaro/upload-release-action@v2
#       with:
#         repo_token: ${{ secrets.GITHUB_TOKEN }}
#         file: assets
#         asset_name: assets
#         tag: ${{ github.ref }}
#         overwrite: true
#         body: ""